body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark-color);
    background-color: var(--background-light-color)
}

:root {
    --text-dark-color:#111111;
    --text-light-color:#FFFFFF;
    --text-orange-color:#FD9222;
    --text-dark-transparent-color:#111111B3;
    --text-light-transparent-color:#FFFFFFB3;
    --text-label-dark-transparent-color:#4040404D;
    --icon-dark-transparent-color:#1111111A;
    --background-dark-color:#1E1823;
    --background-light-color:#FAFAFA;
    --background-white-color:#FFFFFF;
    --background-orange-color:#FD9222;
    --background-button-color:#FCF1E0;
    --background-modal-light-color:#FAFAFA;

    --transition-duration: 250ms;
    --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============================== Comman Styles ============================== */

* {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0px 0px;
    margin: 0px auto;
}

/* ============================== Header ============================== */


/* ============================== Hero ============================== */


.hero-section {
    background-color: var(--background-dark-color);
    padding: 395px 20px 20px;
    border-radius: 30px;
    margin: 19px 20px 71px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-sub-headline {
    color: var(--text-light-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.0375em;
}

.hero-modal-and-link-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero-modal-button-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.hero-buy-now-button {
    color: var(--text-light-color);
    background-color: var(--background-orange-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 12px 28px;
    margin: auto;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-buy-now-button:hover,
.hero-buy-now-button:focus {
    background-color: var(--background-button-color);
    color: var(--text-orange-color);
}

.hero-how-it-is-made-button {
    color: var(--text-light-color);
    background-color: transparent;
    display: block;
    border: 1px solid var(--text-light-color);
    border-radius: 100px;
    cursor: pointer;
    padding: 12px 28px;
    margin: auto;
    transition-property: background-color, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-how-it-is-made-button:hover,
.hero-how-it-is-made-button:focus {
    background-color: var(--background-white-color);
    border: 1px solid var(--text-orange-color);
}

.hero-link-made-button {
    color: var(--text-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-link-made-button:hover,
.hero-link-made-button:focus {
    color: var(--text-orange-color);
}

.hero-scroll-button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--text-light-color);
    background-color: transparent;
    fill: var(--text-orange-color);
    transition: background-color var(--transition-duration) var(--transition-tf);
}

.hero-scroll-button-box:hover .hero-scroll-down-button,
.hero-scroll-button-box:focus .hero-scroll-down-button {
    background-color: var(--background-orange-color);
    fill: var(--text-light-color)
}

.hero-link-scroll {
    color: var(--text-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.0225em;
}

.hero-scroll-down-button {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    /*display: flex;
        align-items: center;
            ustify-content: center;*/
    background-color: var(--background-white-color);
    border: none;
    padding: 0;
    cursor: pointer;
}

.hero-button-scroll-icon {
    transition: fill var(--transition-duration) var(--transition-tf);
}

/* ============================== Advantages ============================== */

.advantages-section {
    background-color: var(--background-dark-color);
}

.advantages-page-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0px;
    gap: 20px;
}

.advantages-text-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.advantages-sub-headline {
    color: var(--text-light-color);
    font-size: 18px;
    font-weight: 600;
}

.advantages-paragraph {
    width: 308px;
    color: var(--text-light-transparent-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

/* ============================== Unique components ============================== */


/* ============================== How it's made? ============================== */


/* ============================== Our products ============================== */


/* ============================== Top sellers ============================== */


/* ============================== Reviews ============================== */


/* ============================== Subscribe ============================== */

/* ============================== Footer ============================== */

/* ========================= Modal Window - Buy now ========================= */

/* ========================= Modal Window - Leave a review about our chocolate ==================== */

/* ========================= Modal Window - Explore our new chocolate first ==================== */



/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */

@media screen and (max-width: 767px) {
    .container {
        min-width: 375px;
        max-width: 400px;
        margin: 0px auto;
        padding: 0px 0px;
    }


        /* ============================== Header ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Hero ============================== */
        /* ======================================== MOBILE 👇 ======================================== */

    .background-image-section {
        background-image: url('../images/hero/chocolate-background-335x620-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 767px;
        min-width: 375px;
    }

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .background-image-section {
                background-image: url('../images/hero/chocolate-background-670x1240-mobile@2x.jpg');
            }
    }
        
        /* ============================== Advantages ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Unique components ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== How it's made? ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Our products ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Top sellers ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Reviews ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
    
        /* ============================== Subscribe ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
        /* ============================== Footer ============================== */
        /* ======================================== MOBILE 👇 ======================================== */
    
        /* ========================= Modal Window - Buy now ========================= */
        /* ======================================== MOBILE 👇 ======================================== */
    
        /* ========================= Modal Window - Leave a review about our chocolate ==================== */
        /* ======================================== MOBILE 👇 ======================================== */

        /* ========================= Modal Window - Explore our new chocolate first ==================== */
        /* ======================================== MOBILE 👇 ======================================== */
}



/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 32px;
    }


    /* ============================== Header ============================== */
    /* ======================================== TABLET 👇 ======================================== */


    /* ============================== Hero ============================== */
    /* ======================================== TABLET 👇 ======================================== */

    .background-image-section {
        background-image: url('../images/hero/chocolate-background-704x890-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1199px;
        min-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-image-section {
            background-image: url('../images/hero/chocolate-background-1408x1780-tablet@2x.jpg');
        }
    }

    .hero-sub-headline {
        color: var(--text-light-color);
        width: 484px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.03em;
    }

    .hero-scroll-button-box {
        gap: 14px;
    }

    .hero-buy-now-button {
        padding: 14px 40px;
    }
    
    .hero-how-it-is-made-button {
        padding: 14px 40px;
    }

    .hero-link-scroll {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
    }
    
    .hero-scroll-down-button {
        display: block;
        width: 38px;
        height: 38px;
    }

    /* ============================== Advantages ============================== */  
    /* ======================================== TABLET 👇 ==========================    ============== */


    /* ============================== Unique components ============================== */
    /* ======================================== TABLET 👇 ======================================== */ */


    /* ============================== How it's made? ============================== */
    /* ======================================== TABLET 👇 ======================================== */


    /* ============================== Our products ============================== */
    /* ======================================== TABLET 👇 ======================================== */ */


    /* ============================== Top sellers ============================== */
    /* ======================================== TABLET 👇 ======================================== */ */


    /* ============================== Reviews ============================== */
    /* ======================================== TABLET 👇 ======================================== */


    /* ============================== Subscribe ============================== */
    /* ======================================== TABLET 👇 ======================================== */

    /* ============================== Footer ============================== */
    /* ======================================== TABLET 👇 ======================================== */

    /* ========================= Modal Window - Buy now ========================= */
    /* ======================================== TABLET 👇 ======================================== */

    /* ========================= Modal Window - Leave a review about our chocolate ==================== */
    /* ======================================== TABLET 👇 ======================================== */

    /* ========================= Modal Window - Explore our new chocolate first ==================== */
    /* ======================================== TABLET 👇 ======================================== */

}



/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */

@media screen and (max-width: 1199px) {
    
}






/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 32px;
    }

    /* ============================== Header ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Hero ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */
    .background-image-section {
        background-image: url('../images/hero/chocolate-background-1136x600-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1200px;
    }
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-image-section {
            background-image: url('../images/hero/chocolate-background-2272-1200-desktop@2x.jpg');
        }
    }

    /* ============================== Advantages ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Unique components ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== How it's made? ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Our products ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Top sellers ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Reviews ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */


    /* ============================== Subscribe ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */

    /* ============================== Footer ============================== */
    /* ======================================== DESKTOP 👇 ======================================== */

    /* ========================= Modal Window - Buy now ========================= */
    /* ======================================== DESKTOP 👇 ======================================== */

    /* ========================= Modal Window - Leave a review about our chocolate ==================== */
    /* ======================================== DESKTOP 👇 ======================================== */

    /* ========================= Modal Window - Explore our new chocolate first ==================== */
    /* ======================================== DESKTOP 👇 ======================================== */

}