body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark-color);
    background-color: var(--background-light-color)
}

:root {
    --text-dark-color:#111111;
    --text-light-color:#FFFFFF;
    --text-orange-color:#FD9222;
    --text-dark-transparent-color:#111111B3;
    --text-light-transparent-color:#FFFFFFB3;
    --text-label-dark-transparent-color:#4040404D;
    --icon-dark-transparent-color:#1111111A;
    --background-dark-color:#1E1823;
    --background-light-color:#FAFAFA;
    --background-white-color:#FFFFFF;
    --background-orange-color:#FD9222;
    --background-modal-light-color:#FAFAFA;

    --transition-duration: 250ms;
    --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============================== Comman Styles ============================== */
/* ============================== Comman Styles ============================== */
/* ============================== Comman Styles ============================== */

* {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */
/* ======================================== MOBILE 👇 ======================================== */

@media screen and (max-width: 767px) {
    .container {
        min-width: 320px;
        max-width: 375px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero-section {
        background-color: var(--background-dark-color);
        padding: 395px 20px 20px;
        border-radius: 30px;
    }

    .background-image-section {
        background-image: url('../images/chocolate-background-335x620-mobile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            max-width: 767px;
            min-width: 320px;
    }

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .background-image-section { url('../images/chocolate-background-670x1240-mobile@2x.jpg');
            }
        }
    
    .modal-and-link-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .modal-button-first-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

/* ============================== Header ============================== */
/* ============================== Header ============================== */
/* ============================== Header ============================== */


/* ============================== Hero ============================== */
/* ============================== Hero ============================== */
/* ============================== Hero ============================== */


/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */


/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */


/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */


/* ============================== Our products ============================== */
/* ============================== Our products ============================== */
/* ============================== Our products ============================== */


/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */


/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */


/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */

/* ============================== Footer ============================== */
/* ============================== Footer ============================== */
/* ============================== Footer ============================== */

/* ========================= Modal Window - Buy now ========================= */

/* ========================= Modal Window - Leave a review about our chocolate ==================== */

/* ========================= Modal Window - Explore our new chocolate first ==================== */





/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */
/* ======================================== TABLET 👇 ======================================== */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 32px;
    }
}

/* ============================== Header ============================== */
/* ============================== Header ============================== */
/* ============================== Header ============================== */


/* ============================== Hero ============================== */
/* ============================== Hero ============================== */
/* ============================== Hero ============================== */


/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */


/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */


/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */


/* ============================== Our products ============================== */
/* ============================== Our products ============================== */
/* ============================== Our products ============================== */


/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */


/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */


/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */

/* ============================== Footer ============================== */
/* ============================== Footer ============================== */
/* ============================== Footer ============================== */

/* ========================= Modal Window - Buy now ========================= */

/* ========================= Modal Window - Leave a review about our chocolate ==================== */

/* ========================= Modal Window - Explore our new chocolate first ==================== */





/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */
/* ======================================== NOT DESKTOP 👇 ======================================== */

@media screen and (max-width: 1199px) {
    
}






/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */
/* ======================================== DESKTOP 👇 ======================================== */

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 32px;
    }
}

/* ============================== Header ============================== */
/* ============================== Header ============================== */
/* ============================== Header ============================== */


/* ============================== Hero ============================== */
/* ============================== Hero ============================== */
/* ============================== Hero ============================== */


/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */
/* ============================== Advantages ============================== */


/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */
/* ============================== Unique components ============================== */


/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */
/* ============================== How it’s made? ============================== */


/* ============================== Our products ============================== */
/* ============================== Our products ============================== */
/* ============================== Our products ============================== */


/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */
/* ============================== Top sellers ============================== */


/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */
/* ============================== Reviews ============================== */


/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */
/* ============================== Subscribe ============================== */

/* ============================== Footer ============================== */
/* ============================== Footer ============================== */
/* ============================== Footer ============================== */

/* ========================= Modal Window - Buy now ========================= */

/* ========================= Modal Window - Leave a review about our chocolate ==================== */

/* ========================= Modal Window - Explore our new chocolate first ==================== */
